p{
    background-color: brown;
    color: blue;
}
h1{
    background-color: purple;
    color: chartreuse;
}
h3{
    background-color: yellowgreen;
    color: blue;
}
span{
    background-color: cyan;
    color:  rebeccapurple;
}
.fill{
    background-color: var(--custom-bg-color, blue);
    color: var(--custom-color, red);
}